* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1 {
  padding: 30px;
  text-align: center;
}
h3 {
  padding: 30px;
  text-align: center;
}

h4 {
  padding: 5px;
  text-align: center;
}

h5 {
  padding: 10px;
  text-align: center;
}

.form-select-1,
.form-select-2,
.form-select-3 {
  text-align-last: center;
  padding: 9px;
  width: 388px;
  border-radius: 1px;
  border: 1px solid #ddd;
  font-weight: 600;
  color: #1f1e1e;
  font-size: 16px;
}

.buttonPassword {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
}
.buttonPassword button {
  color: rgba(255, 17, 0, 0.628);
  background-color: rgba(47, 255, 0, 0.558);
  width: auto;
  padding: 10px;
  border: 1px solid red;
  border-radius: 25px;
}
